/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background: #2E333A;
    font-weight: 500;
    font-family: 'Poppins';
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.navbar {
    background: #2E333A;
    box-shadow: -0.389rem -0.389rem 1.167rem #3B4451, 0.389rem 0.389rem 1.167rem #000000;
    width: 100vw;
    height: 10vh;
    Padding: 0.938rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.nav_btn_container {
    display: none;
}

.tech_img {
    margin-left: 1.675rem;
}



.user_container {
    margin-right: 1.875rem;
    display: flex;
    height: 4rem;
}

.search {
    width: 31.25rem;
    height: 3.438rem;
    align-items: center;
    padding: 0rem 1.25rem;
    gap: 0.625rem;
    background: #2E333A;
    box-shadow: inset -0.389rem -0.389rem 0.389rem #3B4451, inset 0.233rem 0.233rem 0.389rem #000000;
    border-radius: 0.938rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_bar {
    background: #2E333A;
    border: 0;
    
}

.card_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background: #2e333a;
    box-shadow: -0.389rem -0.389rem 1.167rem #3b4451,
        0.389rem 0.389rem 1.167rem #000000;
    border-radius: 0.75rem;
    margin-right: 1.25rem;
}

.card_btn img,
.card_btn2 img,
.edit_btn img {
    width: 50%;
}

.card_btn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    box-shadow: inset -0.389rem -0.389rem 0.389rem #3B4451, inset 0.233rem 0.233rem 0.389rem #000000;
    border-radius: 0.75rem;
    margin-right: 1.25rem;
}

.side_section {
    top: 11vh;
    position: absolute;
    margin-top: 3.125rem;
    width: 100%;
}

.menu_section {
    display: flex;
    height: calc(95vh - 9.50rem);
    width: auto;
    position: fixed;
    z-index: 3;
}

.toggle_btn {
    display: none;
}

.side_menu {
    height: calc(100vh - 9rem);
    width: 7rem;
    background: #2E333A;
    box-shadow: -0.389rem -0.389rem 1.167rem #3B4451, 0.389rem 0.389rem 1.167rem #000000;
    border-radius: 0rem 1.563rem 1.563rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.25rem;
}

.menu_items {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}
.today{
    font-size: 1.563rem;
    margin-bottom: 1.25rem; 
    color: #ffffff;
}
.slp{
    width: 5.625rem;
    height: 2.813rem; 
    font-size: 2.188rem;
    color: #0ed2f6;
}
.usd{
    font-size: 0.938rem;
    color: #b8f1fc
}
.yesterday{
    font-size: 1.438rem;
    color: #B2C2CB;
}
.usd2{
    color:#B8F1FC;
    font-size: 0.875rem;
}
.lifetime{
    font-size: 1.438rem;
    color: #B2C2CB;
}
.usd3{
    color:#B8F1FC;
    font-size: 0.875rem;
}
.ronin_graph{
    color: #E93D25;
    font-size:1.438rem;
    margin-left: 2rem;
}
.ronin_arrow{
    font-size: 0.75rem;
    color: #DA3922;
}

.joey{
    font-size: 1.75rem;
    color: #FFFFFF;
    line-height:2.813rem;
    margin-right:  0.375rem;
}
.axies{
    margin-right:  0.375rem;
    color:#B2C2CB;
    font-size: 0.813rem;
}
.three{
    font-size: 0.938rem;
    font-weight: 500;
    color: #0ED2F6;
    margin-right:  0.375rem;
}
.section_1 {
    display: flex;
    justify-content: center;
}

.section_1_contents {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 9rem;
}

.first_card {
    width: 22.563rem;
    height: 27.313rem;
    background: #2E333A;
    box-shadow: 0.875rem 0.875rem 2.5rem rgba(16, 16, 18, 0.75), -0.438rem -0.438rem 1.875rem #262E32;
    border-radius: 1.563rem;
}

.first_head {
    margin: 1.563rem 1.563rem;
    display: flex;
    flex-direction: column;

}
.joey2{
    font-size: 2.188rem;
    color: #FFFFFF;
    line-height:2.813rem;
    margin-right:  0.375rem;
}
.axies2{
    margin-right:  0.375rem;
    color:#B2C2CB;
    font-size: 1.125rem;
    line-height: 1.438rem;
}
.three2{
    font-size: 1.438rem;
    font-weight: 500;
    color: #0ED2F6;
    margin-right:  0.375rem;
}
.scholar1{
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #FFFFFF;
}
.slp2{
    margin-right:  0.375rem;
    color:#0ED2F6;
    font-size: 1.125rem;
    line-height: 1.438rem;
}
.usd4{
    color: #FFFFFF;
    font-size: 0.75rem;
    line-height: 1rem;
}
.pro-img11{
    margin-bottom:1rem;
}
.joey3{
    font-size: 2.188rem;
    color: #FFFFFF;
    line-height:2.813rem;
    margin-right:  0.375rem;
}
.axies3{
    margin-right:  0.375rem;
    color:#B2C2CB;
    font-size: 1.125rem;
    line-height: 1.438rem;
}
.three3{
    font-size: 1.438rem;
    font-weight: 500;
    color: #0ED2F6;
    margin-right:  0.375rem;
}
.scholar2{
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #FFFFFF
}
.slp3{
    margin-right:  0.375rem;
    color:#0ED2F6;
    font-size: 1.125rem;
    line-height: 1.438rem;
}
.usd5{
    color: #FFFFFF;
    font-size: 0.75rem;
    line-height: 1rem;
}
.scholar3{
    font-size: 0.875rem;
    line-height: 1.438rem;
    color: #FFFFFF
}
.slp4{
    margin-right:  0.375rem;
    color:#0ED2F6;
    font-size: 1.125rem;
    line-height: 1.438rem;
}
.usd6{
    color: #FFFFFF;
    font-size: 0.75rem;
    line-height: 1rem;
}
.first_body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1.563rem 1.563rem;
    height: calc(100% - 11rem);
}

.first_body_tags {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sqr_card_container {
    width: 52.5rem;
    height: 27.313rem;
}

.cards_container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
}

.sqr_card {
    width: 14rem;
    height: 11rem;
    background: #2E333A;
    box-shadow: -0.389rem -0.389rem 1.167rem #3B4451, 0.389rem 0.389rem 1.167rem #000000;
    border-radius: 1.563rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.625rem;

}

.icon_label {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    color: #FFFFFF;
    font-size: 1.125rem;
    margin-top: 0.625rem;
}

.graph_sec {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.graph_sec_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph_sec_1 img {
    width: 9.063rem;
    height: 2.125rem;
    padding-left: 0.938rem;
}

.section_2 {
    margin-top: 4.75rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.section_2_contents {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 8rem;
    line-height: 1.5rem
}

.info_card {
    width: 29.125rem;
    height: 42.5rem;
    background: #2E333A;
    box-shadow: -0.389rem -0.389rem 1.167rem #3B4451, 0.389rem 0.389rem 1.167rem #000000;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    padding: 0.938rem;
    align-items: center;
    justify-content: space-between;
}

.user_pic_area {
    height: 17.25rem;
    width: 20.563rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.profile_img {
    height: 9.375rem;
    width: 9.375rem;
}

.about_1 {
    height: 5.063rem;
    width: 20.563rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5rem;
}

.about_1_col {
    width: 4.313rem;
    height: 100%;
    text-align: center;
}

.tracker_img {
    height: 1.063rem;
}

.about_2 {
    height: 6.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_2_row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.about_2_col {
    width: 7.188rem;
}

.info_card_footer {
    height: 3.125rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_btn {
    width: 10.063rem;
    height: 3.125rem;
    background: #2E333A;
    box-shadow: -0.389rem -0.389rem 1.167rem #3B4451, 0.389rem 0.389rem 1.167rem #000000;
    border-radius: 0.75rem;
    margin-right: 1.563rem;
    margin-left: 1.563rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.438rem;
    line-height: 130%;
    color: #72E4F9;
    cursor: pointer;
}

.edit_btn {
    width: 3.125rem;
    height: 3.125rem;
    background: #2E333A;
    box-shadow: -0.389rem -0.389rem 1.167rem #3B4451, 0.389rem 0.389rem 1.167rem #000000;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pr_status {
    display: flex;
    justify-content: space-around;
    margin-top: 1.063rem;
}

.profile_1 {
    width: 6.25rem;
    height: 6.25rem;
}

.status_foot {
    display: flex;
    justify-content: center;
}

.graph_container {
    width: 100%;
    height: 18.625rem;
}

.drop_down {
    width: 7.8rem;
    height: 2rem;
    background: #2E333A;
    box-shadow: inset -0.389rem -0.389rem 0.389rem #3b4451, inset 0.233rem 0.233rem 0.389rem #000000;
    border-radius: 0.938rem;
    padding: 0.25rem 0.625rem;
    color: #FFFFFF;
    border: #000000;
    margin-bottom: 1rem;
}
.card1{
    height:4.75rem;
    width:100%;
}
.card2{
    height:4.75rem;
    width:100%;
}
.card3{
    height:12.625rem;
    width:100%
}
.main_graph {
    height: calc(100% - 2rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.graph_temps {
    width: 5.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graph_templ_cards {
    font-size: 0.875rem;
    width: 4.125rem;
    height: 1.875rem;
    opacity: 0.5;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.375rem;
    justify-content: center;
}

@media only screen and (max-width: 1750px) and (min-width: 1550px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1550px) and (min-width: 1400px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1300px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1080px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1080px) {
    html {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 920px) {
    
    html {
        font-size: 7.8px;
    }
}
@media only screen and (max-width: 850px) {
  .section_1_contents {
        flex-direction: column;
    }

    .first_card {
        padding: 0 5rem;
    }

    .section_2_contents {
        flex-direction: column;
    }

    .info_card {
        width: 35.125rem;
        padding: 2rem 5rem;
    } 
}



@media only screen and (max-width: 540px) {
    .search {
        display: block;
        width: 5rem;
        height: 4rem;
    }
    .search_bar{
        display: block;
        position: absolute;
        width: 7rem;
        height: 2rem;
        top:4.2rem;
        left: 33.25rem;
    }
    .search_icon{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .search {
        display: block;
        width: 5rem;
        height: 4rem;
    }
    .search_bar{
        display: block;
        position: absolute;
        width: 7rem;
        height: 2rem;
        top:4.2rem;
        left: 30.25rem;
    }
    .search_icon{
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .side_menu {
        display: none;
    }

    .menu_section {
        display: flex;
        padding: fixed;
    }

    .side_menu.active {
        display: flex;
        border-radius: 0rem 1.563rem 1.563rem 0rem;
    }

    .toggle_btn {
        height: 4rem;
        width: 6rem;
        display: block;
        background: #2E333A;
        box-shadow: -0.389rem -0.389rem 1.167rem #3B4451, 0.389rem 0.389rem 1.167rem #000000;
        border-radius: 0 1.563rem 1.563rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tech_img {
        display: block;
        height: 7rem;
        width: 14rem;
    }
   
    .navbar {
        position: fixed;
    }

    .section_1_contents {
        margin-left: 0;
    }

    .section_2_contents {
        margin-left: 0;
    }

    .cards_container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 2.5rem;
    }

    .sqr_card_container {
        width: auto;
        height: auto;
    }

    .info_card {
        width: 29.125rem;
        padding: 0.938rem;
    }

    .grid_item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 414px) {
    .search {
        display: block;
        width: 5rem;
        height: 4rem;
    }
    .search_bar{
        display: block;
        position: absolute;
        width: 7rem;
        height: 2rem;
        top:5.6rem;
        left: 19.7rem;
    }
    .search_icon{
        display: none;
    }
}
@media only screen and (max-width: 390px) {
    .search {
        display: block;
        width: 5rem;
        height: 4rem;
    }
    .search_bar{
        display: block;
        position: absolute;
        width: 7rem;
        height: 2rem;
        top:5.2rem;
        left: 19rem;
    }
    .search_icon{
        display: none;
    }
}
@media only screen and (max-width: 375px) {
    .search {
        display: block;
        width: 5rem;
        height: 4rem;
    }
    .search_bar{
        display: block;
        position: absolute;
        width: 7rem;
        height: 2rem;
        top:4.2rem;
        left: 17.50rem;
    }
    .search_icon{
        display: none;
    }
}